@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Playball&family=Protest+Riot&family=Rubik+Bubbles&family=Whisper&display=swap');

.title-section {
    width: 100%;
    height: 100px;

    .title-text {
        width: 320px;
        overflow: hidden;
        margin-top: 30px;

        p {
            font-size: 50px;
            color: rgb(184, 77, 77);
            font-family: "Protest Riot";
            font-style: italic;
            cursor: pointer;
            transition: all 1.5s ease;
            animation: titleMove 1s alternate infinite;


            &:hover {
                color: rgb(241, 223, 223);
                text-shadow: 5px 5px 10px rgb(226, 71, 71);
            }
        }
    }


    img {
        width: 30px;
        margin: 30px 30px 0px 30px;
    }

}



@keyframes titleMove {
    0% {
        position: absolute;
        font-size: 50px;
    }

    100% {
        position: absolute;
        font-size: 53px;
    }
}

@media (max-width : 600px) {
    .title-section {
        .title-text {
            width: 250px;

            p {
                font-size: 33px;
            }
        }
    }

    @keyframes titleMove {
        0% {
            font-size: 33px;
        }

        100% {
            font-size: 35px;
        }
    }

}