@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Playball&family=Protest+Riot&family=Rubik+Bubbles&family=Whisper&display=swap');

.title-section {
    width: 100%;
    height: 100px;

    h1 {
        font-size: 50px;
        margin: 30px 0px 0px;
        color: rgb(184, 77, 77);
        font-family: "Protest Riot";
        font-style: italic;
        cursor: pointer;
        transition: all 1.5s ease;
        animation: titleMove 2s alternate infinite;

        &:hover {
            color: rgb(241, 223, 223);
            text-shadow: 5px 5px 10px rgb(226, 71, 71);
        }
    }


    img {
        width: 30px;
        margin: 30px 30px 0px 30px;
    }

}



@keyframes titleMove {
    0% {
        font-size: 50px;
    }

    100% {
        font-size: 55px;
    }
}

@media (max-width : 600px) {

    .title-section {
        h1 {
            font-size: 40px;
        }
    }

    @keyframes titleMove {
        0% {
            font-size: 40px;
        }
    
        100% {
            font-size: 44px;
        }
    }

}