.video-details {
    width: 100%;
    height: 100%;
    margin-top: 20px;

    img {
        width: 100%;
        height: 400px;
    }

    width: 100%;

    span {
        color: grey;
        font-size: 20px;
        font-weight: 100;
    }

    p {
        font-size: 20px;
    }

    label {
        position: absolute;
        top: 16px;
        left: 20px;
        font-size: 17px;
        color: rgb(41, 41, 41);
    }

    .select-quality {
        width: 100%;
    }

    .download-button {
        height: 50px;
        font-size: 15px;
    }
}



@media (max-width : 800px) {
    .video-details {
        img {
            height: 350px;
        }
    }
}